{%extends 'base.html'%}

{%block navbar%}
<a href="{{url_for('login')}}">Login</a>
{%endblock%}

{%block contenutoPagina%}
<form action="/register/" method="POST">
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome">
    <br><br>
    <label for="cognome">Cognome</label>
    <input type="text" id="cognome" name="cognome">
    <br><br>
    <label for="usr">Username</label>
    <input type="text" id="usr" name="username">
    <br><br>
    <label for="pasw">Password</label>
    <input type="password" id="pasw" name="password">
    <br><br>
    <label for="confPasw">Conferma Password</label>
    <input type="password" id="confPasw" name="confermaPassword">
    <br><br>
    <input type="submit" value="Registrati">

</form>
{%endblock%}